body {
  margin: 0;
  padding: 0;
  background: #fdfdfd;
}

a {
  color: #202020;
  text-decoration: underline;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.quote {
  margin-top: 10px;
  margin-bottom: 10px;
}

.language-div {
  margin-top: 16px;
}

.language {
  color: #202020;
  text-decoration: none;
}

.language:hover {
  text-decoration: none;
}

.content {
  padding-top: 10px;
  padding-bottom: 0px;
}

.intro {
  margin: 0px -15px 0px -15px;
  padding: 0px 0px 20px 0px;
}

.production {
  margin: 0px -15px 20px -15px;
}

.production-ul {
  margin: 10px 0px 10px 0px;
}

.experience {
  margin: 0px -15px 0px -15px;
}

.experience-ul {
  padding-left: 20px;
}

.project {
  margin: 0px -15px 0px -15px;
}

.project-ul {
  padding-left: 20px;
}

.talk {
  margin: 0px -15px 0px -15px;
}

.talk-ul {
  padding-left: 20px;
}

.footer {
  padding: 40px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
  background: #1f1f1f;
  text-align: center;
}

.icons {
  margin-bottom: 40px;
}

.icon-link {
  text-decoration: none;
}

.icon-link:hover {
  text-decoration: none;
}

.footer-text {
  color: #f0f0f0;
  text-align: center;
  font-size: 12px;
}
